body {
    background-color:  black;
    font-family: sans-serif;
    color: white;
    animation: fadeIn 2s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header{
max-height: 12vh;
min-width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
hr{
  background-color: white;
  min-width: 90vw;
  min-height: 1%;
  box-shadow: 1% white;
  opacity: 80%;
  margin: 0;
}
h1{
max-height: 100%;
z-index: 2;
}
.nameAnimation{
    position: absolute;
    min-width: 1.5vw;
    max-width: 1.5vw;
    min-height: 2vh;
    max-height: 2vh;
    border-radius: 100%;
    background-color:black;
    animation: nameAnimation 10s linear forwards infinite;
}
.nameAnimation:nth-of-type(1) {
  animation-delay: 0.2s;
}

.nameAnimation:nth-of-type(2) {
  animation-delay: 0.4s;
}
.nameAnimation:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  
  .nameAnimation:nth-of-type(4) {
    animation-delay: 0.8s;
  }
  .nameAnimation:nth-of-type(5) {
    animation-delay: 1s;
  }
  
  .nameAnimation:nth-of-type(6) {
    animation-delay: 1.2s;
  }
  .nameAnimation:nth-of-type(7) {
      animation-delay: 1.4s;
    }
    
    .nameAnimation:nth-of-type(8) {
      animation-delay: 1.6s;
    }
    .nameAnimation:nth-of-type(9) {
        animation-delay: 1.8s;
      }
      
      .nameAnimation:nth-of-type(10) {
        animation-delay: 2s;
      }
      .nameAnimation:nth-of-type(11) {
        animation-delay: 2.2s;
      }
      
      .nameAnimation:nth-of-type(12) {
        animation-delay: 2.4s;
      }
      .nameAnimation:nth-of-type(13) {
          animation-delay: 2.6s;
        }
        .nameAnimation:nth-of-type(14) {
            animation-delay: 2.8s;
          }

  
@keyframes nameAnimation {
    0%{
        transform:  translateX(110%) translateY(-180%);
        z-index: 1;
        background-color:rgb(150, 0, 0);
        border: 0.5px whitesmoke outset;
        opacity: 0.5;
    }
    10% {
        transform: translate(220%, 180%);
        z-index: 10;
        opacity: 1;
    }
    20% {
        transform: translate(330%, -180%);
        z-index: -30;
    }
    30% {
        transform: translate(440%, 180%);
        z-index: 100;
    }
    40%{
        transform: translate(550%, -180%);
        z-index: -600;
    }
    50%{
        transform: translate(660%, 180%);
        z-index: 5000;
    }
    60%{
        transform: translate(770%, -180%);
        z-index: -25000;
    }
    70%{
        transform: translate(880%, 180%);
        z-index: 300000;
    }
    80%{
        transform: translate(990%, -180%);
        z-index: -900000;
        
    }
    90%{
        transform: translate(1100%, 180%);
        z-index: 10000000;
        opacity: 1;
        
    }
    100%{
        transform: translateX(1210%) translateY(-180%);
        z-index: -1000000000;
        border: 0.5px white outset;
        opacity: 0;
    }
}

/* Existing styles for .timelineLine */
.timelineLine {
  display: block;
  min-height: 20vh;
  max-height: 30vh;
  width: 5px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(150, 0, 0.5));
  border-radius: 0 0 50% 50%;
  box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.2);
  animation: moveDown 20s linear forwards infinite;
}

/* Animation delay for each timelineLine */
.timelineLine:nth-of-type(1) { animation-delay: 1.2s; }
.timelineLine:nth-of-type(2) { animation-delay: 2.6s; }
.timelineLine:nth-of-type(3) { animation-delay: 3.7s; }
.timelineLine:nth-of-type(4) { animation-delay: 4.2s; }
.timelineLine:nth-of-type(5) { animation-delay: 5.8s; }
.timelineLine:nth-of-type(6) { animation-delay: 5.4s; }
.timelineLine:nth-of-type(7) { animation-delay: 6.5s; }
.timelineLine:nth-of-type(8) { animation-delay: 8s; }
.timelineLine:nth-of-type(9) { animation-delay: 8.4s; }
.timelineLine:nth-of-type(10) { animation-delay: 9.7s; }
.timelineLine:nth-of-type(11) { animation-delay: 10.9s; }
.timelineLine:nth-of-type(12) { animation-delay: 11.4s; }
.timelineLine:nth-of-type(13) { animation-delay: 12.8s; }
.timelineLine:nth-of-type(14) { animation-delay: 13.5s; }
.timelineLine:nth-of-type(15) { animation-delay: 13.8s; }
.timelineLine:nth-of-type(16) { animation-delay: 14.9s; }
.timelineLine:nth-of-type(17) { animation-delay: 15.1s; }
.timelineLine:nth-of-type(18) { animation-delay: 17.2s; }
.timelineLine:nth-of-type(19) { animation-delay: 18.4s; }
.timelineLine:nth-of-type(20) { animation-delay: 19s; }

@keyframes moveDown {
  0% {
    transform: translate(var(--translateX-value, 50vw), -2000vh);
  }
  100% {
    transform: translate(var(--translateX-value, 50vw), 0vh);
  }
}

#rainAnimationButton {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 13px;
  background-color: red; 
  border: 0.5px whitesmoke outset;
  position: fixed;
  right: 0;
  bottom: 0;
}

#rainAnimationButton.grey {
  background-color: rgb(120, 120, 120, .75); 
}

#rainAnimationButton.red {
  background-color: red; 
}


nav {
    margin-right: 1%;
  }
#CVpassword{
    display: none;
}
a{
    color: rgb(255, 255, 255);
    opacity: 80%;
    font-size: 3vh;
    text-align: left;
    text-decoration: none;
}
a:hover{
    color: rgb(150, 0, 0);
}
.borderRight{
  padding-right: 5px;
  border-right: 1px white inset;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* Dark/Light background */
.backgroundLight{
  background-color: rgb(25, 25, 25);
  border-radius: 2%;
  margin: 1%;
  padding: 2%;
  }
  .backgroundLight:hover{
      color: rgb(120, 120, 120);
  }
  .backgroundDark{
    background-color: black;
    margin: 1%;
    padding: 2%;
  }
  .backgroundDark:hover {
    color: rgb(120, 120, 120);
}

  /* Timeline Box's */
  .timelineBox{
    scale: 20%;
    border: 1px whitesmoke outset;
    border-radius: 2%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    color: white;
    line-height: 1.5;
    background-color: rgb(120, 120, 120, .75);
    animation: bounce 2s ease-in-out infinite;
  }
  @media screen and (min-width: 768px) {
    .timelineBox {
        max-width: 75%;
    }
}
  .timelineBox:hover{
    scale: 1;
    animation: none;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-10vh);
    }
    50% {
      transform: translateX(10vh);
    }
  }
/* Images, Certificates */
figure{
  margin: 10px;
}
img{
  max-width: 30vw;
  max-height: 30vh;
}
.codeCert{
position: relative;
scale: 0.8;
}
.codeCert:hover{
  scale: 1;
  }
.animationImg{
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px ;
  margin: 2%;
  animation: Spin 3s linear forwards infinite;
}
.animationImgSlow{
  border-radius: 50%;
  box-shadow: 2px 2px 6px 6px ;
  margin: 2%;
  animation: Spin 6s linear alternate infinite;
}
.rounded-bottom{
border-radius: 5% 5% 50% 50%;
margin-top: 0;
margin-bottom: 5%;
}
.rounded-top{
  border-radius: 50% 50% 5% 5%;
  margin-bottom: 20%;
  }
@keyframes Spin {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Bluefish animation */
#blueFish{
  transform: translateX();
  animation: 20s swimloop linear forwards infinite;
  max-width: 20%;
}
.widthFull{
  min-width: 100%;
  object-fit: contain;
  overflow: hidden;
}
@keyframes swimloop {
  0% {
   transform: translateX(100vw); 
  }
  49%{
    transform: translateX(-100vw) rotateY(0);
  }
  50%{
    transform: translateX(-100vw) rotateY(180deg);
  }
  100%{
      transform: translateX(100vw) rotateY(180deg);
  }
}
video{
  max-width: 50vw;
  max-height: 40vh;
  margin: 10px;
  border: 1px whitesmoke outset;
  border-radius: 2%;
}
video:hover{
  scale: 1.2;
}
#clock {
    font-family: 'Roboto', monospace;
    font-size: 200%;
    font-weight: bold;
    margin: 5%;
    padding: 10px;
    background-color: #000000; 
    display: inline-block;
    margin: 10%;
}
#clock:hover {
  color: rgb(255, 255, 255);
}
.timewise {
  border-radius: 50%;
  border: 2px solid #8000ff;
  box-shadow: 40px 0px 40px #8000ff;
  animation: glowCircle 5s infinite linear alternate;
}
@keyframes glowCircle {
  0% {
    box-shadow: 40px 0px 40px #3f007d;
  }
  25% {
    box-shadow: 0px 40px 40px #3f007d;
  }
  50% {
    box-shadow: -40px 0px 40px #3f007d;
  }
  75% {
    box-shadow: 0px -40px 40px #3f007d;
  }
  100% {
    box-shadow: 40px 0px 40px #3f007d;
  }
}
.timewiseRed {
  margin-top: 0;
  margin-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #ff0000;
  box-shadow: 40px 0px 40px rgba(255, 0, 0, 0.4);
  animation: glowCircleRed 5s infinite linear;
}
@keyframes glowCircleRed {
  0% {
    box-shadow: 40px 0px 40px rgba(255, 0, 0, 0.4);
  }
  25% {
    box-shadow: 0px 40px 40px rgba(255, 0, 0, 0.4);
  }
  50% {
    box-shadow: -40px 0px 40px rgba(255, 0, 0, 0.4);
  }
  75% {
    box-shadow: 0px -40px 40px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 40px 0px 40px rgba(255, 0, 0, 0.4);
  }
}
.timewiseYel {
  margin-top: 0;
  margin-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #fffb00;
  box-shadow: 40px 0px 40px #fffb00;
  animation: glowCircleYel 5s infinite linear reverse ;
}
@keyframes glowCircleYel {
  0% {
    box-shadow: 40px 0px 40px rgba(255, 230, 0, 0.4);
  }
  25% {
    box-shadow: 0px 40px 40px rgba(255, 230, 0, 0.4);
  }
  50% {
    box-shadow: -40px 0px 40px rgba(255, 230, 0, 0.4);
  }
  75% {
    box-shadow: 0px -40px 40px rgba(255, 230, 0, 0.4);
  }
  100% {
    box-shadow: 40px 0px 40px rgba(255, 230, 0, 0.4);
  }
}
/* CHESS */
.chess-square {
  width: 40px;
  height: 40px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.light-square {
    background-color: #bababa;
}
.dark-square {
    background-color: #7e7e7e;
}
.highlighted-square {
    background-color: #e2ffdd; 
}
/* Container styles */
#chess-container {
  background-color: black;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin: 5%;
}

#chess-container:hover {
  color: rgb(0, 0, 0);
}

.title {
  color: #008a2a;
  font-size: 2rem;
}

.play-btn {
  background-color: #008a2a;;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

/* Chess board */
.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
