html {
    background-color:  black;
    font-family: sans-serif;
    color: white;
}
header{
max-height: 10vh;
min-width: 100%;
display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
  background-color: white;
  min-width: 100vw;
  min-height: 1%;
  box-shadow: 1% white;
  opacity: 80%;
  margin: 0;
}
h1{
max-height: 100%;
z-index: 2;
}
.nameAnimation{
    position: absolute;
    min-width: 1.5vw;
    max-width: 1.5vw;
    min-height: 2vh;
    max-height: 2vh;
    border-radius: 100%;
    background-color:black;
    animation: nameAnimation 10s linear forwards infinite;
}
.nameAnimation:nth-of-type(1) {
  animation-delay: 0.2s;
}

.nameAnimation:nth-of-type(2) {
  animation-delay: 0.4s;
}
.nameAnimation:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  
  .nameAnimation:nth-of-type(4) {
    animation-delay: 0.8s;
  }
  .nameAnimation:nth-of-type(5) {
    animation-delay: 1s;
  }
  
  .nameAnimation:nth-of-type(6) {
    animation-delay: 1.2s;
  }
  .nameAnimation:nth-of-type(7) {
      animation-delay: 1.4s;
    }
    
    .nameAnimation:nth-of-type(8) {
      animation-delay: 1.6s;
    }
    .nameAnimation:nth-of-type(9) {
        animation-delay: 1.8s;
      }
      
      .nameAnimation:nth-of-type(10) {
        animation-delay: 2s;
      }
      .nameAnimation:nth-of-type(11) {
        animation-delay: 2.2s;
      }
      
      .nameAnimation:nth-of-type(12) {
        animation-delay: 2.4s;
      }
      .nameAnimation:nth-of-type(13) {
          animation-delay: 2.6s;
        }
        .nameAnimation:nth-of-type(14) {
            animation-delay: 2.8s;
          }

  
@keyframes nameAnimation {
    0%{
        transform:  translateX(110%) translateY(180%);
        z-index: 1;
        background-color:rgb(150, 0, 0);
        border: 0.5px whitesmoke outset;
        opacity: 0.5;
    }
    10% {
        transform: translate(220%, -180%);
        z-index: 10;
        opacity: 1;
    }
    20% {
        transform: translate(330%, 180%);
        z-index: -30;
    }
    30% {
        transform: translate(440%, -180%);
        z-index: 100;
    }
    40%{
        transform: translate(550%, 180%);
        z-index: -600;
    }
    50%{
        transform: translate(660%, -180%);
        z-index: 5000;
    }
    60%{
        transform: translate(770%, 180%);
        z-index: -25000;
    }
    70%{
        transform: translate(880%, -180%);
        z-index: 300000;
    }
    80%{
        transform: translate(990%, 180%);
        z-index: -900000;
        
    }
    90%{
        transform: translate(1100%,-180%);
        z-index: 10000000;
        opacity: 1;
        
    }
    100%{
        transform: translateX(1210%) translateY(180%);
        z-index: -1000000000;
        border: 0.5px white outset;
        opacity: 0;
    }
}
/*
.timelineLine{
  min-height: 20vh;
  max-height: 30vh;
  width: 5px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(150, 0, 0.5));
  border-radius: 0 0 50% 50%;
  animation: moveDown 10s linear forwards infinite;
}
.timelineLine:nth-of-type(1){
  animation-delay: 1s;
}
.timelineLine:nth-of-type(2){
  animation-delay: 2s;
}
.timelineLine:nth-of-type(3){
  animation-delay: 3s;
}
.timelineLine:nth-of-type(4){
  animation-delay: 4s;
}
@keyframes moveDown {
  0% {
    transform: translate(50vw, -1000vh);
  }
 
  100% {
    transform: translate(50vw, 100vh);
  }
}
*/
nav {
    margin-right: 1%;
  }
#CVpassword{
    display: none;
}
a{
    color: rgb(255, 255, 255);
    opacity: 80%;
    font-size: 3vh;
    text-align: left;
    text-decoration: none;
}
a:hover{
    color: rgb(150, 0, 0);
}
.borderRight{
  padding-right: 5px;
  border-right: 1px white inset;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* Dark/Light background */
.backgroundLight{
  background-color: rgb(25, 25, 25);
  border-radius: 2%;
  }
  .backgroundLight:hover{
      color: rgb(120, 120, 120);
  }
  .backgroundDark{
    background-color: black;
  }
  .backgroundDark:hover{
      color: rgb(120, 120, 120);
  }
  /* Timeline Box's */
  .timelineBox{
    scale: 20%;
    border: 1px whitesmoke outset;
    border-radius: 2%;
    margin: 10px;
    color: white;
    background-color: rgb(120, 120, 120, .75);
    animation: bounce 2s ease-in-out infinite;
  }
  .timelineBox:hover{
    scale: 1;
    animation: none;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-10vh);
    }
    50% {
      transform: translateX(10vh);
    }
  }
/* Images, Certificates */
figure{
  margin: 10px;
}
img{
  max-width: 25vw;
  max-height: 25vh;
}
.codeCert{
position: relative;
scale: 0.8;
}
.codeCert:hover{
  scale: 1;
  }
.animationImg{
  border-radius: 50%;
  box-shadow: 1px 1px 5px 2px ;
  animation: Spin 3s linear forwards infinite;
}
.rounded-bottom{
border-radius: 0 0 50% 50%;
margin-top: 0;
}
.rounded-top{
  border-radius: 50% 50% 0 0;
  margin-bottom: 0;
  }
@keyframes Spin {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Bluefish animation */
#blueFish{
  transform: translateX();
  animation: 20s swimloop linear forwards infinite;
  max-width: 20%;
}
.widthFull{
  min-width: 100%;
  object-fit: contain;
  overflow: hidden;
}
@keyframes swimloop {
  0% {
   transform: translateX(100vw); 
  }
  49%{
    transform: translateX(-100vw) rotateY(0);
  }
  50%{
    transform: translateX(-100vw) rotateY(180deg);
  }
  100%{
      transform: translateX(100vw) rotateY(180deg);
  }
}
video{
  max-width: 50vw;
  max-height: 40vh;
  margin: 10px;
  border: 1px whitesmoke outset;
  border-radius: 2%;
}
video:hover{
  scale: 1.2;
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}